table {
    width: 50%;
  }
  .mat-row:nth-child(even){
    background-color:gray;
    }
.mat-row{
  color: #000;
}
.mat-row:nth-child(odd){
    background-color:darkgray;
    }
    .mat-header-cell {
        background-color:#343A40;
        font-size: medium;
        color: white;
        border-top:1px solid white
      }

      .mat-paginator{
        background-color:#343A40;
        color:white;
        font-size: medium;
      }