
<div class="container">
    <div class="row">        
       <div class="col-lg-4 col-md-6 col-sm-12 p-1">
        <mat-card class="bg-dark">
            <mat-card-header>                
                <mat-card-title class="text-confirm">{{totalConfirmed}}</mat-card-title>                 
               <mat-card-subtitle class="text-white">Infected</mat-card-subtitle>               
            </mat-card-header>         
        </mat-card>
       </div>
       
    <div class="col-lg-4 col-md-6 col-sm-12 p-1">
        <mat-card class="bg-dark">
            <mat-card-header>
                <mat-card-title class="text-recover">{{totalRecovered}}</mat-card-title>
                <mat-card-subtitle class="text-white text-center">Recovered</mat-card-subtitle>                
            </mat-card-header>              
         </mat-card>
    </div>
       <div class="col-lg-4 col-md-6 col-sm-12 p-1">
        <mat-card class="bg-dark">
            <mat-card-header>
                <mat-card-title class="text-death">{{totalDeath}}</mat-card-title>                
                <mat-card-subtitle class="text-white text-center">Deaths</mat-card-subtitle>
            </mat-card-header>     
         </mat-card>
    </div>
    </div>
</div>